[submodule "submodules/css-exercises"]
	path = submodules/css-exercises
	url = git@github.com:mginzburgs/css-exercises.git
[submodule "submodules/Odin-Landing-Page"]
	path = submodules/Odin-Landing-Page
	url = git@github.com:mginzburgs/Odin-Landing-Page.git
[submodule "submodules/RockPaperScissors"]
	path = submodules/RockPaperScissors
	url = git@github.com:mginzburgs/RockPaperScissors.git
[submodule "submodules/javascript-exercises"]
	path = submodules/javascript-exercises
	url = git@github.com:mginzburgs/javascript-exercises.git
[submodule "submodules/Etch-a-Sketch"]
	path = submodules/Etch-a-Sketch
	url = git@github.com:mginzburgs/Etch-a-Sketch.git
[submodule "submodules/TheOdinCalc"]
	path = submodules/TheOdinCalc
	url = git@github.com:mginzburgs/TheOdinCalc.git
