[submodule "submodules/css-exercises"]
	path = submodules/css-exercises
	url = git@github.com:mginzburgs/css-exercises.git
[submodule "submodules/Odin-Landing-Page"]
	path = submodules/Odin-Landing-Page
	url = git@github.com:mginzburgs/Odin-Landing-Page.git
[submodule "submodules/RockPaperScissors"]
	path = submodules/RockPaperScissors
	url = git@github.com:mginzburgs/RockPaperScissors.git
[submodule "submodules/javascript-exercises"]
	path = submodules/javascript-exercises
	url = git@github.com:mginzburgs/javascript-exercises.git
[submodule "submodules/Etch-a-Sketch"]
	path = submodules/Etch-a-Sketch
	url = git@github.com:mginzburgs/Etch-a-Sketch.git
[submodule "submodules/TheOdinCalc"]
	path = submodules/TheOdinCalc
	url = git@github.com:mginzburgs/TheOdinCalc.git
[submodule "submodules/Sign-up-Form"]
	path = submodules/Sign-up-Form
	url = git@github.com:mginzburgs/Sign-up-Form.git
[submodule "submodules/Project-Admin-Dashboard"]
	path = submodules/Project-Admin-Dashboard
	url = git@github.com:mginzburgs/Project-Admin-Dashboard.git
[submodule "submodules/TheOdin-Tic-tac-toe"]
	path = submodules/TheOdin-Tic-tac-toe
	url = git@github.com:mginzburgs/TheOdin-Tic-tac-toe.git
[submodule "submodules/TheOdin-Project-Library"]
	path = submodules/TheOdin-Project-Library
	url = git@github.com:mginzburgs/TheOdin-Project-Library.git
[submodule "submodules/TheOdin-Restaurant-Page"]
	path = submodules/TheOdin-Restaurant-Page
	url = git@github.com:mginzburgs/TheOdin-Restaurant-Page.git
[submodule "submodules/The-OdinProject-Todo-List"]
	path = submodules/The-OdinProject-Todo-List
	url = git@github.com:mginzburgs/The-OdinProject-Todo-List.git
[submodule "submodules/OP-JS-Form-Validation"]
	path = submodules/OP-JS-Form-Validation
	url = ./submodules/OP-JS-Form-Validation/
[submodule "submodules/OP-JS-Weather-App"]
	path = submodules/OP-JS-Weather-App
	url = git@github.com:mginzburgs/OP-JS-Weather-App.git
[submodule "submodules/TheOdin-PromiseAndFetch"]
    path = submodules/TheOdin-PromiseAndFetch
    url = ./submodules/TheOdin-PromiseAndFetch
[submodule "submodules/webpack-practice"]
    path = submodules/webpack-practice
    url = ./submodules/webpack-practice
